{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="styleabout.css">
    <link rel="stylesheet" href="{% static "css/styleabout.css" %}">
</head>
<body>
    <div class="about">
        <div class="inner-section">
            <h1>About Us</h1>
            <h1>Timmy Car Rentals</h1>
            <p class="text">
                "Hey, gear up for an unforgettable journey with our Timmy car rental website! We've got the wheels to make your
                 travel dreams a reality. Choose from a variety of vehicles, from compact cars perfect for 
                 zipping through the city streets to spacious vans for those family road trips. Our user-friendly website
                  makes it a breeze to book your ride, and our friendly customer service team is always here to help. 
                  Plus, with flexible rental options and affordable rates, you can hit the road with confidence. Get ready to embark on your 
                next adventure with our car rental website"
            </p>
            <br>
            <p>Email : timmy04@gmail.com</p>
            <br>
            <p>call : 144 444 1578</p>
            <br>
            <p>Whatsapp : +91 8435789054</p>
            <br>
            <div class="skills">
                <a href="contact.html"><button>Contact Us</button></a>
            </div>
        </div>
    </div>
    <br><br>
    <div class="wrapper">

        <div class="title">
            <h4>Our Team Section</h4>
        </div>

        <div class="card_Container">

            <div class="card">

                <div class="imbBx">
                    <img src="{% static "image/image1.jpeg" %}">
                </div>

                <div class="content">
                    <div class="contentBx">
                        <h3>Dhara<br><span>Branch Manager</span></h3>
                    </div>
                    <ul class="sci">
                        <li style="--i: 1">
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li style="--i: 2">
                            <a href="#"><i class="fa-brands fa-github"></i></a>
                        </li>
                        <li style="--i: 3">
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="card">

                <div class="imbBx">
                    <img src="{% static "image/image2.jpeg" %}">
                </div>

                <div class="content">
                    <div class="contentBx">
                        <h3>Selshiya<br><span>Vehicle inspector</span></h3>
                    </div>
                    <ul class="sci">
                        <li style="--i: 1">
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li style="--i: 2">
                            <a href="#"><i class="fa-brands fa-github"></i></a>
                        </li>
                        <li style="--i: 3">
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="card">

                <div class="imbBx">
                    <img src="{% static "image/image3.jpeg" %}">
                </div>

                <div class="content">
                    <div class="contentBx">
                        <h3>Shaleny<br><span>Maintence Technician</span></h3>
                    </div>
                    <ul class="sci">
                        <li style="--i: 1">
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li style="--i: 2">
                            <a href="#"><i class="fa-brands fa-github"></i></a>
                        </li>
                        <li style="--i: 3">
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="card">

                <div class="imbBx">
                    <img src="{% static "image/image4.jpeg" %}">
                </div>

                <div class="content">
                    <div class="contentBx">
                        <h3>Saran<br><span>Rental Agent</span></h3>
                    </div>
                    <ul class="sci">
                        <li style="--i: 1">
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li style="--i: 2">
                            <a href="#"><i class="fa-brands fa-github"></i></a>
                        </li>
                        <li style="--i: 3">
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</body>
</html>